h1 {
  border-bottom: 1px solid gray;
  padding: 20px;
  text-align: center;
}


* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background-color: #FFF;
}

img {
    margin: 0 auto 0 auto;
    vertical-align: middle;
}

table {
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #FFF;
}


tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

td:first-child {
  text-align: left;
  padding-left: 30px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #153641;
    color: white;
}

.positive {
  color: white;
  background-color: green;
}

.neutral {
  color: white;
  background-color: gray;
}

.negative {
  color: white;
  background-color: red;
}

div.footer {
  border-top: 1px solid gray;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
}
